<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Helios</title>
    <script src="js/responsive-nav.js"></script>
    <link href='//fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <link rel="stylesheet" href="css/foundation.css">
    <link href="css/gum.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/rush.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="css/responsive-nav.css">

</head>

<body>


    <div class="content">
    </div>

    <!-- Templates -->

    <script type="text/template" id="login-template">
        <div class="nav" id="header">
            <div class="small-12 columns">
                <header><img src="images/logo_small_alt.png"></header>
            </div>
        </div>
        <div id="login-wrapper">
            <div class="row">
                <div class="small-offset-1 small-10 medium-offset-3 medium-6 columns">
                    <form class="login-form">
                        <h2>Log In</h2>
                        <div class="error" style="display:none"></div>
                        <input type="text" autocorrect="off" autocapitalize="off" id="login-username" placeholder="Username" />
                        <input type="password" id="login-password" placeholder="Password" />
                        <div class="text-center"><button>Log In</button></div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="org-signup-template">
        <div class="nav" id="header">
            <div class="small-6 columns">
                <header><img src="images/logo_small_alt.png"></header>
            </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <form class="signup-form">
              <h2>Sign Up</h2>
              <div class="error" style="display:none"></div>
              <input type="text" id="signup-frat-name" placeholder="Organization Name" />
              <input type="text" autocorrect="off" autocapitalize="off" id="signup-name" placeholder="Name" />
              <input type="text" autocorrect="off" autocapitalize="off" id="signup-username" placeholder="Username" />
              <input type="password" id="signup-password" placeholder="Create a Password" />
              <div class="text-center"><button>Sign Up</button></div>
            </form>
          </div>
        </div>
    </script>

    <script type="text/template" id="member-signup-template">
        <div class="nav" id="header">
            <div class="small-8 columns">
                <header><img src="images/logo_small_alt.png"></header>
            </div>
            <% if(Parse.User.current()) { %>
            <div class="small-4 columns">
                <ul class="right">
                    <li><a href="/#/rushes">Dashboard</a></li>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <form class="signup-form">
                    <h2><%= orgName %> Sign Up</h2>
                    <% if(Parse.User.current()){ %>
                    <div>Send this link to invite fellow members to the app, but keep it private within your organization</div>
                    <% } else { %>
                    <div>Helios is an app for organizations to keep track of their recruits. Sign up to view, vote, and comment</div>
                    <% } %>
                    <div class="error" style="display:none"></div>
                    <input type="text" id="signup-member-name" placeholder="Your name" />
                    <input type="text" autocorrect="off" autocapitalize="off" id="signup-username" placeholder="Choose a username" />
                    <input type="password" id="signup-password" placeholder="Create a password" />
                    <div class="text-center"><button>Sign Up</button></div>
                </form>
            </div>
        </div>
    </script>










    <script type="text/template" id="register-form-template">
        <div class="nav" id="header">
            <div class="small-8 columns">
                <header ><img src="images/logo_small_alt.png"></header>
            </div>
            <% if(Parse.User.current()) { %>
            <div class="small-4 columns">
                <ul class="right">
                    <li><a href="/#/rushes">Dashboard</a></li>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="row">
            <div class="small-12 columns text-center">
                <h1><%= orgName %> Rush Signup</h1>
            </div>
        </div>
        <form id="info" data-abide="ajax">
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Name:
                    <input type="text" id="name" placeholder="Name" />
                    </label>
                    <small class="error">Required</small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Email:
                    <input type="email" class="required" id="email" placeholder="Email" />
                    </label>
                    <small class="error">Required. Must be an email</small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Phone Number:
                    <input type="text" class="required" id="phonenumber" placeholder="Phone Number" />
                    </label>
                    <small class="error">Required</small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Hometown, State:
                    <input type="text" class="required" id="hometown" placeholder="Hometown"/>
                    </label>
                    <small class="error">Required</small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    High School:
                    <input type="text" class="required" id="highschool" placeholder="High School" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Dorm, Room Number:
                    <input type="text" class="required" id="residence" placeholder="Residence" />
                    </label>
                </div>
            </div>
            <div id="custom-questions">
            </div>

            <div id="video-div" class="row text-center">
                <div class="small-12 columns">
                    <video id="video" muted loop autoplay></video>
                </div>
                <div class="small-12 columns">
                    <a class="button camera" id="snap">SNAP PHOTO</a>
                </div>
            </div>
            <div id="canvas-div" class="row text-center hide">
                <div class="small-12 columns">
                    <canvas id="canvas" width="640" height="480"></canvas>
                </div>
                <div class="medium-12 columns">
                    <a class="button camera" id="retake">RETAKE</a>
                </div>
            </div>
            <div class="row text-center">
                <div class="medium-12 columns">
                    <button type="submit" class="button success" id="submit">SUBMIT</a>
                </div>
            </div>
        </form>
    </script>

    <script type = "text/template">
                <% if(/(iPad|iPhone|iPod)/g.test( navigator.userAgent )){ %>
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                    Upload profile image:
                    <input type="file" name="image" accept="image/*" capture required/>
                    </label>
                </div>
            </div>
            <% } else { %>
              <% } %>
    </script>

    <script type="text/template" id="form-custom-questions">
      <% _.each(formQuestions, function(question, index){ %>
      <div class="row">
          <div class="small-12 medium-8 medium-offset-2 columns">
              <label>
              <%= question %>
              <input type="text" class="required" id="custom<%=index%>" placeholder="" />
              </label>
          </div>
      </div>
      <% }); %>
    </script>







    <script type="text/template" id="dashboard-template">
        <div class="nav show-for-medium-up" id="header">
            <div class="small-8 medium-4 columns">
                <header><img src="images/logo_small_alt.png"></header>
            </div>
            <div class="small-4 medium-8 columns show-for-medium-up">
                <ul class="right">
                    <li><a href="/#/signup/<%=orgid%>">Invite</a></li>
                    <li><a id="download-csv">Get CSV</a></li>
                    <li><a id="back-to-form" href="/#/form/<%=orgid%>">Back to Form</a></li>
                    <li><a href="#" class="log-out">Log out</a></li>
                </ul>
            </div>
        </div>
        <div class="row nav-mobile-container hide-for-medium-up">
            <img src="images/logo_small_alt.png">
            <nav class="nav nav-collapse">
                <ul>
                    <li><a href="/#/signup/<%=orgid%>">Invite</a></li>
                    <li><a id="download-csv">Get CSV</a></li>
                    <li><a id="back-to-form" href="/#/form/<%=orgid%>">Back to Form</a></li>
                    <li><a href="#" class="log-out">Log out</a></li>
                </ul>
            </nav>
        </div>
        <div class="row text-center">
            <ul class="button-group">
                <li class="button secondary" id="dropped-button">DROPPED</li>
                <li class="button" id="active-button">ACTIVE</li>
                <li class="button secondary">All</li>
            </ul>
        </div>
        <div class="row text-center">
            <ul class="button-group">
                <li class="button secondary">I Met</li>
                <li class="button">All</li>
            </ul>
        </div>
        <div class="row text-center">
            <div class="small-12 medium-offset-2 medium-8 columns">
                <input class="search field" type="text" placeholder="Search">
                <button class="search">Search</button>
            </div>
        </div>
        <div id="rush-card-subview"></div>
        <div class="text-center"><a id="loadAll" class="button">Load All</a></div>
    </script>








    <script type="text/template" id="rush-list-template">
        <% _.each(data, function(rushee){ %>
            <div class="rush-card" id="<%= rushee.id %>">
            </div>
        <% }); %>
    </script>


    <script type="text/template" id="rush-card-template">
        <div class="row">
            <div class="medium-3 columns card-pic text-center">
                <a href="/#/rushes/<%= rushee.id %>"><img src="<%= rushee.get('pic').url() %>"></a>
            </div>
            <div class="medium-7 columns">
                <div class="row" data-equalizer>
                    <div class="small-8 column" data-equalizer-watch>
                        <h1 class="inline-block"><a href="/#/rushes/<%= rushee.id %>"><%= rushee.get('name') %></a></h1>
                    </div>
                    <div class="small-4 column votes" data-equalizer-watch>
                        <i class="fi-arrow-up vote"></i> 0 <i class="fi-arrow-down vote"></i> 0
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 column">
                        Went to <span class="attribute"><%= rushee.get('highschool') %></span> in <span class="attribute"><%= rushee.get('hometown') %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <i class="fi-mail contact-method"></i> <%= rushee.get('email') %>
                        <i class="fi-telephone contact-method"></i> <%= rushee.get('phonenumber') %>
                        <i class="fi-home contact-method"></i> <%= rushee.get('residence') %>
                    </div>
                </div>
                <% if (comment != undefined) { %>
                <div class="row comments-section">
                    <div class="medium-12 columns comment">
                        <div>
                            <span class="comment-author question"><%= comment.get("authorName") %></span>
                            <span class="comment-timestamp"><%= comment.createdAt %></span>
                        </div>
                        <div>
                            <%= comment.get("comment") %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="small-12 small-text-center medium-2 columns">
                <a id="talked" class="button">MET</a>
            </div>
        </div>
    </script>





    <script type="text/template" id="rush-profile-template">
        <div class="nav" id="header">
            <div class="small-6 columns">
                <header ><img src="images/logo_small_alt.png"></header>
            </div>
        </div>
        <div>
        <div class="row">
            <div class="medium-2 columns">
                <a href="/#/rushes">< BACK</a>
            </div>
            <div class="medium-8 columns end">
                <img src="<%= rushee.get('pic').url() %>">
            </div>
        </div>
        <div class="row">
            <div class="small-6 medium-offset-2 medium-4 columns">
                <a href="<%= previous %>" class="button" id="previous"> &lt; Prev</a>
            </div>
            <div class="small-6 medium-4 columns end">
                <a href="<%= next %>" class="button right" id="next"> Next &gt; </a>
            </div>
        </div>
        <div class="profile">
            <div class="row">
                <div class="small-12 medium-offset-2 medium-8 columns">
                    <span class="name-attribute"><%= rushee.get("name") %></span>
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-8 columns">
                    Went to <span class="attribute"><%= rushee.get('highschool') %></span> in <span class="attribute"><%= rushee.get('hometown') %></span>
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-8 columns">
                    <i class="fi-mail contact-method"></i> <%= rushee.get('email') %>
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-8 columns">
                    <i class="fi-telephone contact-method"></i> <%= rushee.get('phonenumber') %>
                </div>
            </div>
            <div class="row">
                <div class="medium-offset-2 medium-8 columns">
                    <i class="fi-home contact-method"></i> <%= rushee.get('residence') %>
                </div>
            </div>
            <% for(var index = 0; index < rushee.get('customQuestions').length; index++){ %>
            <% if(index % 2 == 0) { %>
            <div class="row">
                <div class="medium-offset-2 medium-4 columns">
                    <% } else { %>
                    <div class="medium-4 end columns">
                        <% } %>
                        <div class="question">
                            <%= Parse.User.current().escape("custom1") %>
                        </div>
                        <div>
                            <%= rushee.get('customQuestions')[index] %>
                        </div>
                    </div>
                    <% if(index % 2 == 1 || index == rushee.get('customQuestions').length-1) { %>
                </div>
                <% } %>
                <% } %>
                <% if(talked.length != 0) { %>
                <div class="row">
                    <div class="medium-offset-2 medium-4 columns">
                        <div class="question">
                            Has talked to:
                        </div>
                        <% _.each(talked, function(member){ %>
                        <div>
                            <%= member.get("name") %>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <% } %>
                <div class="row">
                    <div class="medium-offset-2 medium-8 columns">
                        <div class="comments-section">
                            <% _.each(comments, function(comment){ %>
                            <div class="comment">
                                <div>
                                    <span class="comment-author question"><%= comment.get("authorName") %></span>
                                    <span class="comment-timestamp"><%= comment.createdAt %></span>
                                </div>
                                <div>
                                    <%= comment.get("comment") %>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-offset-2 medium-8 columns">
                        <textarea id="comment-textbox" rows="4" placeholder="Comment"></textarea>
                        <a class="button right" id="post-comment">Post</a>
                    </div>
                </div>
                <div class="row text-center">
                    <a class="button" id="talked">&nbsp;MET&nbsp;</a>
                    <a class="button alert" id="drop">DROP</a>
                </div>
            </div>
        </div>
    </script>

    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
</body>

</html>
